body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color:  hsl(308, 22%, 47%);
    color: rgba(255, 255, 255, 0.65)
}
body{
    background-image: url("images/overlay.png"), -moz-linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
	background-image: url("images/overlay.png"), -webkit-linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
	background-image: url("images/overlay.png"), -ms-linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
	background-image: url("images/overlay.png"), linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: plum;
    color: white;
    position: relative;
}

.login-btn {
    padding: 5px 15px;
    background-color: #ffc107;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px; /* Moves the logout button down */
}

.chat-container {
    margin: 20px;
}

.post-question-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px;
    background-color: purple;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    
}
.post-question-btn:hover{
    background-color: rgb(171, 0, 171);
}

.show-question{
    display: inline-block;
    margin: 20px;
   
}
input {
    background-color: purple;
    color: white;
    border-radius: 5px;
    padding: 10px;
}
.show-questiontext{
    margin: 20px;
    color: rgb(32, 0, 32);

}

.login-btn{
    background-color: beige;
    color: hsl(280, 98%, 20%);
}

.image {
    position: absolute;
    top: 50%;
    right: 50%;
    width: 100px;
    height: 100px;
    background-image: url('../static/image/testing.jpg');
    background-size: cover;
}