<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/register.css') }}">
    <script src="{{ url_for('static', filename='js/registrationValidation.js') }}" async></script>
</head>
<body>
    <div class="container">
        <div class="register-form">
            <h1>Register</h1>
            <form id="registrationForm" action="/register" method="post">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" placeholder="Username" required>
                <span id="usernameError" class="error"></span> <!-- Placeholder for username error -->
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" placeholder="Password" required>
                <span id="passwordError" class="error"></span> <!-- Placeholder for password error -->
                <label for="confirm_password">Confirm Password:</label>
                <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirm Password" required>
                <span id="confirmPasswordError" class="error"></span> <!-- Placeholder for confirm password error -->
                <input type="submit" value="Register">
            </form>
            <p>Already have an account? <a href="/login">Sign in</a></p>
        </div>
        <div class="info-box">
            <h3>Requirements:</h3>
            <ul>
                <li>Username must be Unique</li>
                <li>Username must be between 5 and 16 characters</li>
                <li>Passwords must be at least 8 characters</li>
                <li>Passwords must contain at least one number</li>
                <li>Passwords must contain one uppercase letter</li>
                <li>Passwords must contain one lowercase letter</li>
                <li>Cannot Copy and paste password</li>
            </ul>
        </div>
    </div>
</body>
</html>
